{% extends 'main.html' %}
{% block content %}
{% load static %}

<div class="content-wrapper">
  
    <!-- Main content -->
       <section class="content">
         <div class="container-fluid">
           <!-- Small boxes (Stat box) -->
           <div class="row">
             <div class="col-lg-3 col-6">
               <!-- small box -->
               <div class="small-box bg-info">
                 <div class="inner">
                   <h3>1254</h3>
                       <p>Создано <br>наряд-допусков</p>
                 </div>
                 <div class="icon">
                   <i class="ion ion-clipboard"></i>
                 </div>
                 <a href="{% url 'create_nar_page1' %}" class="small-box-footer">Создать наряд допуск <i class="fas fa-arrow-circle-right"></i></a>
               </div>
             </div>
             <!-- ./col -->
             <div class="col-lg-3 col-6">
               <!-- small box -->
               <div class="small-box bg-success">
                 <div class="inner">
                   <h3>112</h3>
                       <p>Закрытые <br>паспорта эксплуатации</p>
                 </div>
                 <div class="icon">
                   <i class="ion ion-stats-bars"></i>
                 </div>
                 <a href="{% url 'close_nar_page1' %}" class="small-box-footer">Посмотреть списком <i class="fas fa-arrow-circle-right"></i></a>
               </div>
             </div>
             <!-- ./col -->
            
             
             <div class="col-lg-3 col-6">
               <!-- small box -->
               <div class="small-box bg-danger">
                 <div class="inner">
                   <h3>74</h3>
                       <p>Открытые <br>паспорта эксплуатации</p>
                 </div>
                 <div class="icon">
                   <i class="ion ion-pie-graph"></i>
                 </div>
                 <a href="{% url 'open_nar_page1' %}" class="small-box-footer">Посмотреть списком <i class="fas fa-arrow-circle-right"></i></a>
               </div>
             </div>
             <!-- ./col -->
           </div>
           <!-- /.row -->
           <!-- Main row -->
           <div class="row mt-5">
             <!-- Left col -->
             <div class="col-6">
               
               
               <!-- /.card -->
             </div>
             <!-- /.Left col -->
             <!-- right col (We are only adding the ID to make the widgets sortable)-->
     
           <!-- /.row (main row) -->
         </div><!-- /.container-fluid -->
       </div>
       </section>
       <!-- /.content -->
     </div>

{% endblock %}