{% extends 'main.html' %}
{% block content %}

<br>
<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
        
        <!-- /.col -->
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Список наряд-допусков</h3>
            </div>
            <!-- /.card-header -->
            <div class="container">
              <table class="table table-bordered table-hover" id="myTable">
                <thead>
                  <tr>
                    <th style="width: 10px">#</th>
                    <th style="width: 300px">Номер наряд-допуска</th>
                    <th style="width: 400px">Паспорт эксплуатации</th>
                    <th style="width: 200px">Дата</th>
                  </tr>
                </thead>
                {% for i in show_nar %}
                <tbody>
                  <tr>
                    
                    <td>нет</td>
                    <td>Наряд-допуска №1234</td>
                    <td><span class="badge bg-danger">Необходимо заполнить паспорт эксплуатации</span>
                    </td>
                    <td>{{i.start_work}}</td>
                  
                  </tr>
                </tbody>
                {% endfor %}
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
      <div class="row">
        <div class="col-12">
          <div class="card">
        </div>
      </div>
    </div><!-- /.container-fluid -->

  </section>
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
      <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
  </div>

  {% endblock %}
