{% extends 'main.html' %}
{% block content %}

<br>
<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
        
        <!-- /.col -->
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Список наряд-допусков</h3>
            </div>
            <!-- /.card-header -->
            <div class="container">
              <table class="table table-bordered table-hover" id="myTable">
                <thead>
                  <tr>
                    <th style="width: 10px">#</th>
                    <th style="width: 300px">Номер наряд-допуска</th>
                    <th style="width: 400px">Паспорт эксплуатации</th>
                    <th style="width: 200px">Дата</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1.</td>
                    <td>Наряд-допуска №1234</td>
                    <td><span class="badge bg-success">Паспорт эксплуатации заполнен</span>
                    </td>
                    <td>19/07/2020</td>
                  </tr>
                  <tr>
                    <td>2.</td>
                    <td>Наряд-допуск №5678</td>
                    <td><span class="badge bg-success">Паспорт эксплуатации заполнен</span>
                    </td>
                    <td>05/08/2020</td>
                  </tr>
                  <tr>
                    <td>3.</td>
                    <td>Наряд-допуск №741</td>
                    <td><span class="badge bg-success">Паспорт эксплуатации заполнен</span>
                    </td>
                    <td>16/12/2020</td>
                  </tr>
                  <tr>
                    <td>4.</td>
                    <td>Наряд-допуск №369</td>
                    <td><span class="badge bg-success">Паспорт эксплуатации заполнен</span>
                    </td>
                    <td>27/01/2021</td>
                  </tr>
                  <tr>
                    <td>5.</td>
                    <td>Наряд-допуск №039</td>
                    <td><span class="badge bg-success">Паспорт эксплуатации заполнен</span>
                    </td>
                    <td>05/02/2021</td>
                  </tr>
                  <tr>
                    <td>6.</td>
                    <td>Наряд-допуска №1782</td>
                    <td><span class="badge bg-success">Паспорт эксплуатации заполнен</span>
                    </td>
                    <td>14/02/2021</td>
                  </tr>
                  <tr>
                    <td>7.</td>
                    <td>Наряд-допуск №5004</td>
                    <td><span class="badge bg-success">Паспорт эксплуатации заполнен</span>
                    </td>
                    <td>19/02/2021</td>
                  </tr>
                  <tr>
                    <td>8.</td>
                    <td>Наряд-допуск №097</td>
                    <td><span class="badge bg-success">Паспорт эксплуатации заполнен</span>
                    </td>
                    <td>28/02/2021</td>
                  </tr>
                  <tr>
                    <td>9.</td>
                    <td>Наряд-допуск №806</td>
                    <td><span class="badge bg-success">Паспорт эксплуатации заполнен</span>
                    </td>
                    <td>02/03/2021</td>
                  </tr>
                  <tr>
                    <td>10.</td>
                    <td>Наряд-допуск №1907</td>
                    <td><span class="badge bg-success">Паспорт эксплуатации заполнен</span>
                    </td>
                    <td>05/03/2021</td>
                  </tr>
                  <tr>
                    <td>11.</td>
                    <td>Наряд-допуска №2099</td>
                    <td><span class="badge bg-success">Паспорт эксплуатации заполнен</span>
                    </td>
                    <td>11/03/2021</td>
                  </tr>
                  <tr>
<td>12.</td>
                    <td>Наряд-допуск №2503</td>
                    <td><span class="badge bg-success">Паспорт эксплуатации заполнен</span>
                    </td>
                    <td>15/03/2021</td>
                  </tr>
                  <tr>
                    <td>13.</td>
                    <td>Наряд-допуск №6082</td>
                    <td><span class="badge bg-success">Паспорт эксплуатации заполнен</span>
                    </td>
                    <td>26/03/2021</td>
                  </tr>
                  <tr>
                    <td>14.</td>
                    <td>Наряд-допуск №8942</td>
                    <td><span class="badge bg-success">Паспорт эксплуатации заполнен</span>
                    </td>
                    <td>30/03/2021</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
      <div class="row">
        <div class="col-12">
          <div class="card">
        </div>
      </div>
    </div><!-- /.container-fluid -->

  </section>
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
      <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
  </div>

  {% endblock %}
