{% extends 'main.html' %}
{% load static %}
{% block content %}

<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <!-- /.navbar -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                        <h1>Типы работ</h1>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>
    
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                <!-- SELECT2 EXAMPLE -->
                    <div class="card card-info">
                    <!-- /.card-header -->
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="card-body">
                                        <!-- we are adding the .class so bootstrap.js collapse plugin detects it -->
                                        <div class="card card-info">
                                            <div class="card-header">
                                                <a href="#" class=nav-link>
                                                    Техническое обслуживание
                                                </a>   
                                            </div>
                                        </div>
                                        <div class="card card-info">
                                            <div class="card-header">
                                                <a href="#" class=nav-link>
                                                    Профилактические испытания и проверка УРЗА
                                                </a>   
                                            </div>
                                        </div>
                                        <div class="card card-info">
                                            <div class="card-header">
                                                <a href="#" class=nav-link>
                                                    Мероприятия по повышению надежности
                                                </a>   
                                            </div>
                                        </div>
                                        <div class="card card-info">
                                            <div class="card-header">
                                                <a href="#" class=nav-link>
                                                    Капитальный ремонт
                                                </a>   
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.col -->
                                <div class="col-md-6">
                                    <div class="card-body">
                                        <!-- we are adding the .class so bootstrap.js collapse plugin detects it -->
                                        <div class="card card-info">
                                            <div class="card-header">
                                                <a href="#" class=nav-link>
                                                    Текущий ремонт
                                                </a>   
                                            </div>
                                        </div>
                                        <div class="card card-info">
                                            <div class="card-header">
                                                <a href="#" class=nav-link>
                                                    Электромонтажные работы для OCC
                                                </a>   
                                            </div>
                                        </div>
                                        <div class="card card-info">
                                            <div class="card-header">
                                                <a href="#" class=nav-link>
                                                    ГТЭС
                                                </a>   
                                            </div>
                                        </div>
                                        <div class="card card-secondary">
                                            <div class="card-header">
                                                <a href="#" class=nav-link>
                                                    Общий свод
                                                </a>   
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div><!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
    </div>
{% endblock %}
    