{% extends 'main.html' %}
{% load static %}
{% block content %}

<body class="hold-transition sidebar-mini">
<div class="wrapper">
    <!-- /.navbar -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Main content -->
        <section class="content-header">
        <div class="container-fluid">
            <div class="card card-info">
            <div class="card-header">
                <h3 class="card-title"><b>Паспорт электродвигателя 6/10-0,4кВ</b></h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <!-- /.form-group -->
                        <div class="form-group">
                            <label for="organization">Организация</label>
                            <input type="email" class="form-control" id="organization" placeholder="Организация">
                        </div>

                        <div class="form-group">
                            <label for="passport">№ Паспорта</label>
                            <input type="email" class="form-control" id="passport" placeholder="№ Паспорта">
                        </div>

                        <div class="form-group">
                            <label for="passport">№ Наряд-допуска</label>
                            <input type="email" class="form-control" id="passport" placeholder="№ Наряд-допуска">
                        </div>
                        <!-- /.form-group -->
                    </div>
                    <!-- /.col -->

                    <div class="col-12 col-sm-6">
                        <!-- /.form-group start-->
                        <div class="form-group">
                            <label for="department">Подразделение</label>
                            <input type="email" class="form-control" id="department" placeholder="Подразделение">
                        </div>

                        <div class="form-group">
                            <label for="disName">Диспетчерское наименование</label>
                            <input type="email" class="form-control" id="disName" placeholder="Диспетчерское наименование">
                        </div>
                        <!-- /.form-group -->
                    </div>
                    <!-- /.col -->
                    <div class="content-wrapper">
                        <div class="container-fluid">
                        <img src="{% static '/images/motor1_map.png' %}" alt="zru" width="500" height="500">
                        </div>
                    </div>
                </div>

                <!-- Main content -->
                <div class="row">
                    <div class="col-12">
                    <div class="card">
                        <!-- /.card-header -->
                        <div class="card-body">
                        <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
                        <table id="example2" class="table table-bordered dataTable dtr-inline collapsed" role="grid" aria-describedby="example2_info">
                            <tbody>

                                <tr role="row" class="odd">
                                    <td class="text-center" colspan="2"><strong>1.Электродвигатель</strong></td>
                                    <td>1.9. Скорость вращения ротора</td>
                                    <td>
                                        <div class="form-group">
                                        <textarea class="form-control" rows="3"></textarea>
                                        </div>
                                    </td>
                                </tr>

                                <tr role="row" class="odd">
                                    <td>1.1. Завод изготовитель</td>
                                    <td>
                                        <div class="form-group">
                                        <textarea class="form-control" rows="3"></textarea>
                                        </div>
                                    </td>
                                    <td>1.10. Ток и напряжение ротора</td>
                                    <td>
                                        <div class="form-group">
                                        <textarea class="form-control" rows="3"></textarea>
                                        </div>
                                    </td>
                                </tr>

                                <tr role="row" class="even">
                                    <td >1.2. Тип</td>
                                    <td>
                                        <div class="form-group">
                                        <textarea class="form-control" rows="3"></textarea>
                                        </div>
                                    </td>
                                    <td>1.11. Способ крепления и раст.</td>
                                    <td>
                                        <div class="form-group">
                                        <textarea class="form-control" rows="3"></textarea>
                                        </div>
                                    </td>
                                </tr>

                                <tr role="row" class="odd">
                                    <td >1.3. Заводской номер</td>
                                    <td>
                                        <div class="form-group">
                                        <textarea class="form-control" rows="3"></textarea>
                                        </div>
                                    </td>
                                    <td >1.12. Габариты</td>
                                    <td>
                                        <div class="form-group">
                                        <textarea class="form-control" rows="3"></textarea>
                                        </div>
                                    </td>
                                </tr>

                                <tr role="row" class="even">
                                    <td >1.4. Номинальное напряжение</td>
                                    <td>
                                        <div class="form-group">
                                        <textarea class="form-control" rows="3"></textarea>
                                        </div>
                                    </td>
                                    <td>1.13. Масса</td>
                                    <td>
                                        <div class="form-group">
                                        <textarea class="form-control" rows="3"></textarea>
                                        </div>
                                    </td>
                                </tr>

                                <tr role="row" class="odd">
                                    <td >1.5. Номинальный ток</td>
                                    <td>
                                        <div class="form-group">
                                        <textarea class="form-control" rows="3"></textarea>
                                        </div>
                                    </td>
                                    <td class="text-center" colspan="2"><strong>2. Контур заземления</strong></td>
                                </tr>

                                <tr role="row" class="odd">
                                    <td >1.6. Мощность</td>
                                    <td>
                                        <div class="form-group">
                                        <textarea class="form-control" rows="3"></textarea>
                                        </div>
                                    </td>
                                    <td>2.1. Сопротивление растекания</td>
                                    <td>
                                        <div class="form-group">
                                        <textarea class="form-control" rows="3"></textarea>
                                        </div>
                                    </td>
                                </tr>

                                <tr role="row" class="even">
                                    <td >1.7. Cos </td>
                                    <td>
                                        <div class="form-group">
                                        <textarea class="form-control" rows="3"></textarea>
                                        </div>
                                    </td>
                                    <td class="text-center" colspan="2"><strong>3. Фундамент</strong></td>
                                </tr>

                                <tr role="row" class="even">
                                    <td >1.8. Схема соединения обмоток </td>
                                    <td>
                                        <div class="form-group">
                                        <textarea class="form-control" rows="3"></textarea>
                                        </div>
                                    </td>
                                    <td ></td>
                                    <td>
                                        <div class="form-group">
                                        <textarea class="form-control" rows="3"></textarea>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        </div>
                        <!-- /.dataTables-wrapper -->
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
                <div class="row">
                    <div class="col-md-6">
                        <!-- /.form-group -->
                        <div class="form-group">
                            <label for="data">Дата</label>
                            <input type="data" class="form-control" id="data" placeholder="Дата">
                        </div>

                        <div class="form-group">
                            <label for="sign">Подпись</label>
                            <input type="sign" class="form-control" id="sign" placeholder="Подпись">
                        </div>
                        <!-- /.form-group -->
                    </div>
                    <!-- /.col -->

                    <div class="col-12 col-sm-6">
                        <!-- /.form-group start-->
                        <div class="form-group">
                            <label for="department">Ф.И.О. исполнителя</label>
                            <input type="email" class="form-control" id="department" placeholder="Ф.И.О. исполнителя">
                        </div>

                        <!-- /.form-group -->
                    </div>
                    <!-- /.col -->
                    <div class="form-group">
                        <label>Сведения о ремонте (указать: тип оборудования, краткое описание ремонта, наладки, испытания, установка запчастей).</label>
                        <textarea class="form-control" rows="3" placeholder="Сведения о ремонте"></textarea>
                    </div>
                </div>
                <div class="card-footer">
                <button type="submit" class="btn btn-info">Отправить на проверку</button>
                </div>
            </div>
            <!-- /.card-info -->
        </div>
        <!-- /.container-fluid -->
        </section>
    </div>
    <!-- /.content-wrapper -->

</div>


{% endblock %}